.chatContainer {
	position: fixed;
	bottom:0;
	z-index: 999;
}
.name {
	float: left;
	font-weight: bolder;
	padding-right: 5px;
}
.text {
	color: black;
}
.full {
	height: 100%;
}
.connectiontext {
	color: #888;
}
.disconnecttext {
	color: #844;
}
#messages { 
	list-style-type: none; 
	padding: 0, 0, 40px, 0;
	margin: 0; 
}
#messages li { 
	padding: 6px 10px 1px 10px;
}
#messages li:nth-child(odd) { 
	background: #eee;
}
#messages li.connection {
	background: #b8f2b5;
}
#messages li.disconnect {
	background: #fc9e97;
}
#users {
	height: 100%;
}